@CHARSET "UTF-8";

.calendar-ui-bg { display:none; position:fixed; top:0px; left:0px; bottom:0px; right:0px; background:rgba(0,0,0,0); z-index:100; }

.pb-calendar-ui { width:210px; height:auto; display:none; position:absolute; padding:10px; background:#EFF4F7; color:#666666; font-size:12px; box-shadow:0px 4px 20px 4px #C8C8C8; z-index:9999; }
.pb-calendar-ui > .calendar-title { padding:0px 0px 0px 8px; color:#333333; font-size:18px; font-weight:bold; }
.pb-calendar-ui > .calendar-title > img { float:right; margin-top:8px; margin-left:4px; cursor:pointer; }
.pb-calendar-ui > .calendar-title > .year-title {  }
.pb-calendar-ui > .week-box { margin-top:6px; font-weight:bold; }
.pb-calendar-ui > .week-box:after { content:""; display:block; clear:both; }
.pb-calendar-ui > .day-box:after { content:""; display:block; clear:both; }
.pb-calendar-ui > .item-explanation { padding:8px 20px; background:#FFFFFF; color:#666666; font-weight:bold; }
.pb-calendar-ui > .item-explanation > img { width:26px; margin:0 6px; vertical-align:-8px; }

.pb-calendar-ui > .week-box > .item { width:30px; position:relative; float:left; padding:7px 0; font-weight:bold; text-align:center; }
.pb-calendar-ui > .week-box > .item.su { color:#FF6666; }
.pb-calendar-ui > .week-box > .item.sa { color:#0099E2; }

.pb-calendar-ui > .day-box > .item { width:30px; position:relative; float:left; padding:7px 0; font-weight:bold; text-align:center; cursor:pointer; }
.pb-calendar-ui > .day-box > .item.su { color:#FF6666; }
.pb-calendar-ui > .day-box > .item.sa { color:#0099E2; }
.pb-calendar-ui > .day-box > .item.thisMonth { background:#FFFFFF; }
.pb-calendar-ui > .day-box > .item.toDay { background:#FF6666; color:#FFFFFF; }
.pb-calendar-ui > .day-box > .item.selectDay { background:#0099E2; color:#FFFFFF; }
.pb-calendar-ui > .day-box > .item.thisWeek { background:#FF6666; color:#FFFFFF; }
.pb-calendar-ui > .day-box > .item:hover { background:#0099E2; color:#FFFFFF; }

.crt-calendar-icon { background-image:url(../images/btn_calandar.png); background-repeat:no-repeat; background-size:16px; background-position:96%; }

.ui-datepicker .ui-datepicker-title select { -webkit-appearance:none; -moz-appearance:none; padding:0px 26px 0px 8px; background-image:url(/resources/img/select_down_angle.png); background-size:24px; background-repeat:no-repeat; background-position:right 50%; font-family:'Noto Sans KR'; cursor:pointer; outline:none; vertical-align:bottom; width:50%; }


   
    